#!/bin/bash
# Android NDK路径示例
export ANDROID_NDK_ROOT="/path/to/android-ndk"

# libunwindstack库路径示例  
export LIBUNWINDSTACK_ROOT="/path/to/libunwindstack"
# TODO： 将其作为submodule引入

# Android API级别
export TARGET_API="35"